<!DOCTYPE html>
<html>
<head>
  <title>Korgi</title>
  <%= stylesheet_link_tag    "korgi/application", media: "all" %>
  <%= javascript_include_tag "korgi/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
